<div class="container">
    <div class="wrapper">
        <div class="typing-demo title">Wellcome!! My Page.</div>
    </div>
    <div class="button-box">
        <button class="button" (click)="navigateToLogin()">
            <div>
                <span>L</span><span>O</span><span>G</span><span>I</span><span>N</span>
            </div>
        </button>
        <button class="button" (click)="navigateToSecret()">
            <div>
                <span>S</span><span>E</span><span>C</span><span>R</span><span>E</span><span>T</span>
            </div>
        </button>
    </div>    
</div>