<div class="main-back">
    <div class="main login-main ">
        <div class="container is-txl is-z200">
            <form class="form" method="" action="">
                <h2 class="form_title title">Social Login - Easy Start</h2>


                <button type="button" class="button social-button switch__button">
                    <div class="social-button-area">
                        <img class="social-button-img" src="https://d1nuzc1w51n1es.cloudfront.net/d99d8628713bb69bd142.png" />
                        <p>Google</p>
                    </div>
                </button>

                <button type="button" class="button social-button switch__button">
                    <div class="social-button-area">
                        <img class="social-button-img" src="https://d1nuzc1w51n1es.cloudfront.net/b5947322452636c92d88.png" />
                        <p>Github</p>
                    </div>
                </button>

                <button type="button" class="button social-button switch__button" (click)="kakaoLogin()">
                    <div class="social-button-area">
                        <img class="social-button-img" src="https://d1nuzc1w51n1es.cloudfront.net/c9b51919f15c93b05ae8.png" />
                        <p>Kakao</p>
                    </div>
                </button>
                
                <!-- (click)="alert('hello')" -->
                    
            </form>
        </div>

        <div class="switch is-txr">
            <div class="switch__circle is-txr"></div>
            <div class="switch__circle switch__circle--t is-txr"></div>
            <div class="switch__container">
                <h2 class="title">Hello Friend !</h2>
                <p class="description">Let's go.</p>
                <p class="description">Origin: <a
                        href="https://inpa.tistory.com/">https://inpa.tistory.com/</a></p>
                <!-- <button class="button switch__button" (click)="navigateToSecret()">
                    SECRET
                </button> -->
            </div>
        </div>
    </div>
</div>